
.colors{
    color: green;
}


.colores{
    color: #00BFFF;
}

.vermelho{
    color: red;
}

.progress{
    width: 10%;
    margin-left: 75%;
    margin-right: 10%;
}

.p{
    margin-right: 75%;
    margin-right: 10%;
}

